.glass-box {
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(16px);
//   padding: 20px;
  margin: 10px;
  min-height: calc(100dvh - 60px);
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.4);
  color: #fff;
  box-sizing: border-box;
  border: 8px solid rgba(0, 0, 0, 0.6);
  border-radius: 24px;
}