<div class="board-container">

    <div class="board-header">
        <p class="title">Tasks</p>
    </div>

    <div class="board-content">
        <div class="top-content">

            <div class="search-box">
                <img src="assets/icons/search.svg" alt="Search" class="search-icon" />
                <input type="text" placeholder="Search" class="search-input" (input)="onSearchInput($event)" />
            </div>

            <div class="filter-box">
                <button class="filter-button">
                    <img src="assets/icons/filter.svg" alt="Filter" class="filter-icon" />
                    Filter
                </button>
            </div>

            <div class="top-right">
                <button class="add-task-button" (click)="openAddTaskModal()">
                    + Add Task
                </button>
            </div>
        </div>

        <div class="board">
            <app-tasks [tasks]="filteredTasks" (viewTask)="openViewTaskModal($event)"></app-tasks>
        </div>
    </div>
</div>

@if(isTaskModalOpen){
    <app-add-task-modal
    [mode]="modalMode"
    [selectedTask]="selectedTask"
    (closeModal)="closeTaskModal()"
    (taskCreated)="addNewTask($event)"
    (taskUpdated)="updateTask($event)"
    (taskDeleted)="deleteTask($event)">
    </app-add-task-modal>
}
