.title {
    font-size: 30px;
}

input {
    height: 38px;
    width: 280px;
    background-color: rgb(105, 105, 105, 0.8);
    border-radius: 30px;
    padding-left: 20px;
    border: none;
    color: #fff !important;
    font-size: 15px;

    &::placeholder {
        color: #fff !important;
    }
}