<div class="board-container">
    <div class="board-header">
        <p class="title">Tasks</p>
    </div>
    <div class="board-content">
        <div class="top-content">
            <div class="search-box">
                <img src="assets/icons/search.svg" alt="Search" class="search-icon" />
                <input type="text" placeholder="Search" class="search-input" />
            </div>
            <div class="filter-box">
                <button class="filter-button">
                    Filter
                </button>
            </div>
        </div>
        <div class="board">
            <app-tasks></app-tasks>
        </div>
    </div>
</div>