<div class="modal-overlay" (click)="close()">
    <div class="modal-container" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <h2>{{mode === "create" ? "Create Task" : mode === "edit" ? "Edit Task" : "View Task"}}</h2>
            <button class="close-btn" (click)="close()"> ✕ </button>
        </div>
        <div class="modal-body">

            <form [formGroup]="taskForm" (ngSubmit)="mode === 'create' ? addTask() : mode === 'edit' ? updateTask() : gotoEditMode()">

                <label for="title">Title:</label>
                <input type="text"
                [placeholder]="
                mode === 'create'
                ? 'Enter Task Title'
                : mode === 'edit'
                ? 'Edit Task Title'
                : 'View Task Title'" 
                formControlName="title">
                <div class="error-container">
                    @if(title?.touched && title?.hasError('required')){
                    <p class="error-text">Task title is required</p>
                    }
                    @else if(title?.touched && title?.hasError('minlength')){
                    <p class="error-text">Task title must be at least 3 characters long</p>
                    }
                    @else if(title?.touched && title?.hasError('pattern')){
                    <p class="error-text">Task title must contain only alphabets</p>
                    }
                </div>

                <label for="description">Description:</label>
                <input type="text" 
                [placeholder]="
                mode === 'create'
                ? 'Enter Task Description'
                : mode === 'edit'
                ? 'Edit Task Description'
                : 'View Task Description'" 
                formControlName="description">
                <div class="error-container">
                    @if(description?.touched && description?.hasError('required')){
                    <p class="error-text">Task description is required</p>
                    }
                    @else if(description?.touched && description?.hasError('minlength')){
                    <p class="error-text">Task description must be at least 10 characters long</p>
                    }
                    @else if(description?.touched && description?.hasError('pattern')){
                    <p class="error-text">Task description must contain only alphabets</p>
                    }
                </div>

                <div class="col_2">
                    <div class="priority-container">
                        <label for="priority">Priority:</label>
                        <select formControlName="priority">
                            <option value="" disabled>Select Priority</option>
                            <option value="low">Low</option>
                            <option value="medium">Medium</option>
                            <option value="high">High</option>
                        </select>
                        <div class="error-container">
                            @if(priority?.touched && priority?.hasError('required')){
                            <p class="error-text">Task priority is required</p>
                            }
                        </div>
                    </div>

                    <div class="duedate-container">
                        <label for="dueDate">Due Date:</label>
                        <input type="date" placeholder="Due Date" formControlName="dueDate">
                        <div class="error-container">
                            @if(dueDate?.touched && dueDate?.hasError('required')){
                            <p class="error-text">Due date is required</p>
                            }
                        </div>
                    </div>
                </div>

                <label for="assignedUser">Assigned User:</label>
                <input type="text" 
                [placeholder]="
                mode === 'create'
                ? 'Enter Assigned User'
                : mode === 'edit'
                ? 'Edit Assigned User'
                : 'View Assigned User'" 
                formControlName="assignedUser">
                <div class="error-container">
                    @if(assignedUser?.touched && assignedUser?.hasError('required')){
                    <p class="error-text">Assigned user is required</p>
                    }
                    @else if(assignedUser?.touched && assignedUser?.hasError('pattern')){
                    <p class="error-text">Please enter a valid user name.</p>
                    }
                </div>

                <label for="status">Status:</label>
                <select formControlName="status">
                    <option value="" disabled>Select Status</option>
                    <option value="todo">Todo</option>
                    <option value="in-progress">In Progress</option>
                    <option value="testing">Testing</option>
                    <option value="done">Done</option>
                </select>
                <div class="error-container">
                    @if(status?.touched && status?.hasError('required')){
                    <p class="error-text">Status is required</p>
                    }
                </div>


                <div class="modal-footer">
                    <button type="button" class="cancel-btn" (click)="close()">
                        Cancel
                    </button>
                    <button type="button" class="delete-btn" *ngIf="mode === 'edit'" (click)="deleteTask(this.selectedTask?.taskId)">
                        Delete
                    </button>
                    <button type="submit" class="create-btn">
                        {{ mode === "create" ? "Create Task" : mode === "edit" ? "Update Task" : "Edit" }}
                    </button>
                </div>
            </form>
        </div>
    </div>