<div class="modal-overlay" (click)="close()">
    <div class="modal-container" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <div class="header-content">
                <h2>{{mode === "create" ? "Create Task" : mode === "edit" ? "Edit Task" : "View Task Details"}}
                    @if(mode === 'view'){
                    <span class="view-only-badge">VIEW ONLY</span>
                    }
                </h2>
                </div>
                <button class="close-btn" (click)="close()">✕</button>
            </div>
        <div class="modal-body">

            <form [formGroup]="taskForm" (ngSubmit)="mode === 'create' ? addTask() : mode === 'edit' ? updateTask() : gotoEditMode()">

                <label for="title">Title * :</label>
                <input type="text"
                [placeholder]="
                mode === 'create'
                ? 'Enter Task Title'
                : mode === 'edit'
                ? 'Edit Task Title'
                : 'View Task Title'" 
                formControlName="title">
                <div class="error-container">
                    @if(title?.touched && title?.hasError('required')){
                    <p class="error-text">Task title is required</p>
                    }
                    @else if(title?.touched && title?.hasError('minlength')){
                    <p class="error-text">Task title must be at least 3 characters long</p>
                    }
                    @else if(title?.touched && title?.hasError('pattern')){
                    <p class="error-text">Task title must contain only alphabets</p>
                    }
                </div>

                <label for="description">Description * :</label>
                <input type="text" 
                [placeholder]="
                mode === 'create'
                ? 'Enter Task Description'
                : mode === 'edit'
                ? 'Edit Task Description'
                : 'View Task Description'" 
                formControlName="description">
                <div class="error-container">
                    @if(description?.touched && description?.hasError('required')){
                    <p class="error-text">Task description is required</p>
                    }
                    @else if(description?.touched && description?.hasError('minlength')){
                    <p class="error-text">Task description must be at least 10 characters long</p>
                    }
                    @else if(description?.touched && description?.hasError('pattern')){
                    <p class="error-text">Task description must contain only alphabets</p>
                    }
                </div>

                <div class="col_2">
                    <div class="priority-container">
                        <label for="priority">Priority * :</label>
                        <select formControlName="priority">
                            <option value="" disabled>Select Priority</option>
                            <option value="low">Low</option>
                            <option value="medium">Medium</option>
                            <option value="high">High</option>
                        </select>
                        <div class="error-container">
                            @if(priority?.touched && priority?.hasError('required')){
                            <p class="error-text">Task priority is required</p>
                            }
                        </div>
                    </div>

                    <div class="duedate-container">
                        <label for="dueDate">Due Date * :</label>
                        <input type="date" placeholder="Due Date" formControlName="dueDate" [min]="todayDate">
                        <div class="error-container">
                            @if(dueDate?.touched && dueDate?.hasError('required')){
                                <p class="error-text">Due date is required</p>
                            } @else if(dueDate?.touched && dueDate?.hasError('pastDate')){
                                <p class="error-text">Due date cannot be before today.</p>
                            } 
                        </div>
                    </div>
                </div>

                @if(this.role == "admin" || this.role == "hr"){
                    <label for="assignedUser">Assigned User * :</label>
                    <select formControlName="assignedUser">
                        <option value="" disabled>Select Assignee</option>
                        <option value="Aarav Mehta">Aarav Mehta</option>
                        <option value="Karan Shah">Karan Shah</option>
                        <option value="Neha Verma">Neha Verma</option>
                        <option value="Priya Sharma">Priya Sharma</option>
                        <option value="Rohan Patel">Rohan Patel</option>
                    </select>
                    <div class="error-container">
                        @if(assignedUser?.touched && assignedUser?.hasError('required')){
                            <p class="error-text">Assigned user is required</p>
                        }
                    </div>
                }

                @if(mode !== 'create'){
                    <label for="status">Status * :</label>
                    <select formControlName="status">
                        <option value="" disabled>Select Status</option>
                        @for(status of allowedStatuses(); track status){
                            <option [value]="status">{{status}}</option>
                        }
                    </select>
                    <div class="error-container"></div>}


                <div class="modal-footer">
                    <button type="button" class="cancel-btn" (click)="close()">
                        Cancel
                    </button>
                    <button type="button" class="delete-btn" *ngIf="mode === 'edit' && role === 'admin'" (click)="showDeleteConfirm = true">
                        Delete
                    </button>
                    @if(showDeleteConfirm && role=='admin'){
                        <div class="confirm-overlay">
                            <div class="confirm-modal">
                                <h3 class="low-weight">Delete Task</h3>
                                <p style="margin: 10px 0;">
                                    Are you sure you want to delete
                                    <strong style="color: #F0E36B;">{{ selectedTask?.title }}</strong>?
                                </p>
                                <div class="buttons">
                                    <button 
                                        type="button"
                                        class="cancel-btn"
                                        (click)="showDeleteConfirm = false">
                                        Cancel
                                    </button>
                                    <button
                                        type="button"
                                        class="delete-btn"
                                        *ngIf="mode === 'edit' && canDeleteTask()"
                                        (click)="confirmDelete()">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    }

                    @if(mode === 'create'){
                        <button type="submit" class="create-btn">
                            Create Task
                        </button>
                    } @else if(mode === 'edit'){
                        <button type="submit" class="create-btn">
                            Update Task
                        </button>
                    }
                    @else if(mode === 'view' && canEditTask()){
                        <button type="submit" class="create-btn">
                            Edit Task
                        </button>
                    }
                    @else{
                        <button
                        type="button"
                        class="create-btn"
                        disabled>
                        View Only
                    </button>
                }
            </div>
        </form>
    </div>
</div>