.modal-overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(25px);
    animation: fadeIn 0.2s ease;
}

.modal-container{
    width: 650px;
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.08);
    backdrop-filter: blur(14px);
    border-radius: 24px;
    padding: 24px;
    margin: 10px;
    color: white;
    box-shadow:0 8px 32px rgba(0,0,0,0.4);
    animation: modalPop 0.25s ease;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}

.close-btn{
    border: none;
    background: transparent;

    color: white;

    font-size: 20px;

    cursor: pointer;
}

.modal-body{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modal-body input,
.modal-body textarea,
.modal-body select{

    width: 100%;

    padding: 14px;

    border-radius: 14px;

    border: 1px solid rgba(255,255,255,0.08);

    background: rgba(255,255,255,0.05);

    color: white;

    outline: none;
}

.modal-body textarea{
    resize: none;
    height: 120px;
}

.modal-footer{
    display: flex;
    justify-content: flex-end;

    gap: 12px;

    // margin-top: 14px;
}

.cancel-btn{
    padding: 12px 18px;

    border-radius: 14px;

    font-weight: 600;
    
    border: none;

    cursor: pointer;
}

.create-btn{
    padding: 12px 18px;

    border-radius: 14px;

    border: none;

    background: #F0E36B;

    color: black;
    font-weight: 600;
    cursor: pointer;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes modalPop{
    from{
        transform: scale(0.9);
        opacity: 0.5;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

.col_2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 16px;

    @media (max-width: 600px) {
        grid-template-columns: repeat(1,1fr);
        gap: 0;
    }
}